@tailwind base;
@tailwind components;
@tailwind utilities;

/* Links */
a {
  @apply text-primary-700 dark:text-primary-400;
}
a:hover {
  @apply underline;
}
header a {
  @apply hover:no-underline
}

/* Hx anchor */
.title-anchor {
  padding-left: 0.5rem;
}
a.title-anchor {
  text-decoration: none;
  @apply text-primary-700 dark:text-primary-400;
  opacity: 0.75;
}
a.title-anchor:hover {
  text-decoration: none;
  opacity: 1;
}

/* On this page */
#on-this-page > ul {
  @apply list-none pb-5 border-b-2 border-slate-400 dark:border-slate-500;
}
main details a {
  @apply no-underline !important;
}

/* Sidebar */
#sidebar h3 {
  @apply text-slate-500 dark:text-slate-200 uppercase font-semibold text-sm;
}
#sidebar ul {
  @apply list-none p-0 mb-6;
}
#sidebar ul:last-child {
  @apply mb-0;
}
#sidebar ul>li {
  @apply my-3;
}
#sidebar ul>li:last-child {
  @apply mb-0;
}
#sidebar ul>li>a {
  @apply text-slate-800 dark:text-slate-300;
}
#sidebar ul>li>a.active {
  @apply font-bold;
}

/* Selectors */
#theme-select, #lang-select {
  @apply bg-transparent border-0 text-primary-100 cursor-pointer;
}
#theme-select:hover, #lang-select:hover {
  @apply text-primary-50;
}
#theme-select option, #lang-select option {
  @apply text-primary-950;
}

/* DocSearch */
.DocSearch.DocSearch-Button {
  @apply w-full md:w-64 lg:w-80 rounded m-0 px-3 lg:px-4 py-2 bg-primary-800 focus:outline-none focus:bg-primary-700 shadow-inner cursor-pointer !important;
  @apply max-md:bg-transparent !important;
  @apply max-md:shadow-none !important;
}
.DocSearch .DocSearch-Button-Placeholder {
  @apply text-primary-100 !important;
}
.DocSearch-Button-Keys {
  display: none !important;
}
.DocSearch-Search-Icon {
  @apply text-primary-100 !important;
}
.DocSearch-Form {
  @apply bg-primary-800 !important;
  @apply text-primary-100 !important;
}
.DocSearch-Input {
  @apply text-primary-100 !important;
}
.DocSearch-Input::placeholder {
  @apply text-primary-100 !important;
}

/* Note block in Markdown */
.note {
  position: relative;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 0.25rem;
  @apply border border-l-4 border-blue-700 dark:border-white;
}
.note > p {
  margin: 0;
}
[class*="note-"] {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}
[class*="note-"]:before {
  position: absolute;
  top: 1.3rem;
  left: 0.8rem;
  display: block;
  width: 1rem;
  height: 1rem;
  mask-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16"%3E%3Cpath fill-rule="evenodd" d="M8 1.5a6.5 6.5 0 100 13 6.5 6.5 0 000-13zM0 8a8 8 0 1116 0A8 8 0 010 8zm6.5-.25A.75.75 0 017.25 7h1a.75.75 0 01.75.75v2.75h.25a.75.75 0 010 1.5h-2a.75.75 0 010-1.5h.25v-2h-.25a.75.75 0 01-.75-.75zM8 6a1 1 0 100-2 1 1 0 000 2z"%3E%3C/path%3E%3C/svg%3E');
  mask-size: contain;
  mask-position: center;
  mask-repeat: no-repeat;
  content: "";
  @apply bg-blue-700 dark:bg-white;
}
.note-info {
  @apply border border-l-4 border-sky-700 dark:border-sky-400 bg-sky-50 dark:bg-sky-900;
}
.note-info:before {
  mask-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16"%3E%3Cpath fill-rule="evenodd" d="M8 1.5a6.5 6.5 0 100 13 6.5 6.5 0 000-13zM0 8a8 8 0 1116 0A8 8 0 010 8zm6.5-.25A.75.75 0 017.25 7h1a.75.75 0 01.75.75v2.75h.25a.75.75 0 010 1.5h-2a.75.75 0 010-1.5h.25v-2h-.25a.75.75 0 01-.75-.75zM8 6a1 1 0 100-2 1 1 0 000 2z"%3E%3C/path%3E%3C/svg%3E');
  @apply bg-sky-700 dark:bg-sky-400;
}
.note-tip {
  @apply border border-l-4 border-lime-700 dark:border-lime-400 bg-lime-50 dark:bg-lime-900;
}
.note-tip:before {
  mask-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16"%3E%3Cpath fill-rule="evenodd" d="M8 1.5c-2.363 0-4 1.69-4 3.75 0 .984.424 1.625.984 2.304l.214.253c.223.264.47.556.673.848.284.411.537.896.621 1.49a.75.75 0 01-1.484.211c-.04-.282-.163-.547-.37-.847a8.695 8.695 0 00-.542-.68c-.084-.1-.173-.205-.268-.32C3.201 7.75 2.5 6.766 2.5 5.25 2.5 2.31 4.863 0 8 0s5.5 2.31 5.5 5.25c0 1.516-.701 2.5-1.328 3.259-.095.115-.184.22-.268.319-.207.245-.383.453-.541.681-.208.3-.33.565-.37.847a.75.75 0 01-1.485-.212c.084-.593.337-1.078.621-1.489.203-.292.45-.584.673-.848.075-.088.147-.173.213-.253.561-.679.985-1.32.985-2.304 0-2.06-1.637-3.75-4-3.75zM6 15.25a.75.75 0 01.75-.75h2.5a.75.75 0 010 1.5h-2.5a.75.75 0 01-.75-.75zM5.75 12a.75.75 0 000 1.5h4.5a.75.75 0 000-1.5h-4.5z"%3E%3C/path%3E%3C/svg%3E');
  @apply bg-lime-700 dark:bg-lime-400;
}
.note-important {
  @apply border border-l-4 border-violet-700 dark:border-violet-400 bg-violet-50 dark:bg-violet-900;
}
.note-important:before {
  mask-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16"%3E%3Cpath d="M0 1.75C0 .784.784 0 1.75 0h12.5C15.216 0 16 .784 16 1.75v9.5A1.75 1.75 0 0 1 14.25 13H8.06l-2.573 2.573A1.458 1.458 0 0 1 3 14.543V13H1.75A1.75 1.75 0 0 1 0 11.25Zm1.75-.25a.25.25 0 0 0-.25.25v9.5c0 .138.112.25.25.25h2a.75.75 0 0 1 .75.75v2.19l2.72-2.72a.749.749 0 0 1 .53-.22h6.5a.25.25 0 0 0 .25-.25v-9.5a.25.25 0 0 0-.25-.25Zm7 2.25v2.5a.75.75 0 0 1-1.5 0v-2.5a.75.75 0 0 1 1.5 0ZM9 9a1 1 0 1 1-2 0 1 1 0 0 1 2 0Z"%3E%3C/path%3E%3C/svg%3E');
  @apply bg-violet-700 dark:bg-violet-400;
}
.note-warning {
  @apply border border-l-4 border-amber-700 dark:border-amber-400 bg-amber-50 dark:bg-amber-900;
}
.note-warning:before {
  mask-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16"%3E%3Cpath d="M0 1.75C0 .784.784 0 1.75 0h12.5C15.216 0 16 .784 16 1.75v9.5A1.75 1.75 0 0 1 14.25 13H8.06l-2.573 2.573A1.458 1.458 0 0 1 3 14.543V13H1.75A1.75 1.75 0 0 1 0 11.25Zm1.75-.25a.25.25 0 0 0-.25.25v9.5c0 .138.112.25.25.25h2a.75.75 0 0 1 .75.75v2.19l2.72-2.72a.749.749 0 0 1 .53-.22h6.5a.25.25 0 0 0 .25-.25v-9.5a.25.25 0 0 0-.25-.25Zm7 2.25v2.5a.75.75 0 0 1-1.5 0v-2.5a.75.75 0 0 1 1.5 0ZM9 9a1 1 0 1 1-2 0 1 1 0 0 1 2 0Z"%3E%3C/path%3E%3C/svg%3E');
  @apply bg-amber-700 dark:bg-amber-400;
}
.note-caution {
  @apply border border-l-4 border-red-700 dark:border-red-400 bg-red-50 dark:bg-red-900;
}
.note-caution:before {
  mask-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16"%3E%3Cpath d="M4.47.22A.749.749 0 0 1 5 0h6c.199 0 .389.079.53.22l4.25 4.25c.141.14.22.331.22.53v6a.749.749 0 0 1-.22.53l-4.25 4.25A.749.749 0 0 1 11 16H5a.749.749 0 0 1-.53-.22L.22 11.53A.749.749 0 0 1 0 11V5c0-.199.079-.389.22-.53Zm.84 1.28L1.5 5.31v5.38l3.81 3.81h5.38l3.81-3.81V5.31L10.69 1.5ZM8 4a.75.75 0 0 1 .75.75v3.5a.75.75 0 0 1-1.5 0v-3.5A.75.75 0 0 1 8 4Zm0 8a1 1 0 1 1 0-2 1 1 0 0 1 0 2Z"%3E%3C/path%3E%3C/svg%3E');
  @apply bg-red-700 dark:bg-red-400;
}
